name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'docs/**'
      - 'packages/**'

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  pull-requests: write
  actions: read
  checks: read
  deployments: read
  statuses: read

jobs:
  release:
    name: Releasing
    runs-on: ubuntu-latest
    outputs:
      published: ${{ steps.changesets.outputs.published }}
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Use pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm # or pnpm / yarn

      - name: Install turbo
        run: pnpm install turbo --global

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build workspace packages
        run: turbo build

      - name: Run package checking
        run: pnpm run lint:packages

      - name: Run type checking
        run: turbo verify-types

      - name: Run linting
        run: turbo lint

      - name: Create Release Pull Request / Publish Packages
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run release
          version: pnpm run version-packages
          commit: 'chore: release package(s)'
          title: 'chore: release package(s)'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  deploy-docs:
    needs: release
    if: needs.release.outputs.published == 'true'
    name: Deploy Docs
    uses: ./.github/workflows/deploy-docs.yml
    permissions:
      pages: write
      id-token: write
      contents: read
